.venv/
.vscode/
.idea/
.history/

.env
.env.*

__pycache__/
*.py[cod]

build/
dist/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/

*.log

*.tmp
*.temp

*.npy
data/**/*.csv
data/**/*.json

*.pt
*.pth
*.onnx
*.ckpt

.cache/
huggingface/
sentence-transformers/

data/scenes/
data/keyframes/
data/features/
data/objects/
data/speech/
data/ocr/
data/semantic/
data/semantic_similarity/

*.avi
*.mov
*.mkv

!data/videos/
!data/videos/.gitkeep